body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

section.sec1{
    background: url("../slide_image_hover_effects/bg1.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.sec2{
    background: url("../slide_image_hover_effects/bg2.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.sec3{
    background: url("../slide_image_hover_effects/bg3.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.sec4{
    background: url("../slide_image_hover_effects/bg4.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.secText{
    padding: 50px 100px;
    height: auto;
}

section.secText h1{
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #262626;
}