body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0c203e;
}

.arrows {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.arrows span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animateArrow 2s infinite;
}

.arrows span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrows span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animateArrow {
    0% {
        opacity: 0;
        transform: rotate(45deg) translateX(-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translateX(-20px);
    }
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, .5);
    transition: 1s;
}

.card:hover {
    transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
}

.card::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #173c74;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #2c6fd3;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBox {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    z-index: 1;
    transition: 1s cubic-bezier(.15, 1.7, .84, .58);
}

.card:hover .imgBox {
    transform: rotateY(-135deg);
}

.card .imgBox .img {
    background: url("../slide_image_hover_effects/bg3.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: -1;
}